.header_inner {
    width: 100%;
    display: flex;
    background-color: rgba(225, 86, 86, 0.5);
    position: fixed;
    justify-content: space-around;
    z-index:999 ;
}

nav{    
    width: 100%;
}

.header_inner>nav>ul {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#logo {
    width: 100%;
    font-size: 1.2em;
    margin: 0 3em;
}

.header_content {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
}

.navlink {
    font-size: 1.5em;

}