@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ysabeau:wght@200&display=swap');

*,
*::after,
*::before {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ysabeau', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #F4FDFF;

}

