@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*,
*::after,
*::before {
  font-family: 'Poppins', sans-serif;  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #F4FDFF;

}

